<div>
    <header>
        <div class="header-con">
            <div class="title"><span>Page Two</span></div>
            <div class="left" vk-goto="" vk-back="true">
                <div><span>&lt;</span></div>
            </div>
            <div class="right" vk-goto="#main/page_three">
                <div><span>&gt;</span></div>
            </div>
        </div>
    </header>
    <section>
        <div style="font-size:50px;text-align:center;">two</div>
    </section>
</div>